* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  * .sotcial {
    position: absolute;
    z-index: 22;
    left: 12%;
    bottom: 0;
    display: flex;
    flex-direction: row; }
    * .sotcial a {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: white;
      transition: all 0.2s linear; }
      * .sotcial a:hover {
        color: orange;
        background-color: rgba(255, 255, 255, 0.2); }
  * .about-header {
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    background-image: url("../img/0b3408904ccf6e33fb0a69020273f510.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    position: relative; }
    @media screen and (max-width: 500px) {
      * .about-header {
        height: 100vh; } }
    * .about-header .bg-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(9, 25, 87, 0.8);
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }
      * .about-header .bg-box .container .row {
        display: flex; }
        @media screen and (max-width: 600px) {
          * .about-header .bg-box .container .row {
            flex-direction: column; } }
        * .about-header .bg-box .container .row .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          * .about-header .bg-box .container .row .left h2 {
            font-family: Bold 62px/95px Product Sans;
            width: 70%;
            font-size: 60px;
            color: white; }
          * .about-header .bg-box .container .row .left p {
            color: white;
            padding: 0;
            margin: 0; }
          * .about-header .bg-box .container .row .left .mouse {
            width: 100px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center; }
            * .about-header .bg-box .container .row .left .mouse img {
              width: 30px;
              height: 30px; }
            * .about-header .bg-box .container .row .left .mouse p {
              writing-mode: vertical-rl;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              width: 100%;
              font-size: 10px;
              line-height: 20px; }
            * .about-header .bg-box .container .row .left .mouse span {
              margin: 5px 0;
              width: 2px;
              height: 50px;
              background-color: #9D9D9D; }
        * .about-header .bg-box .container .row .right {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center; }
          * .about-header .bg-box .container .row .right h4 {
            color: white;
            text-align: left; }
          * .about-header .bg-box .container .row .right p {
            color: #FFFFFFCC;
            margin-bottom: 20px; }
          * .about-header .bg-box .container .row .right form {
            width: 100%; }
            * .about-header .bg-box .container .row .right form div.row {
              width: 100%;
              display: flex;
              justify-content: space-between; }
              * .about-header .bg-box .container .row .right form div.row div {
                width: 100%; }
                * .about-header .bg-box .container .row .right form div.row div label {
                  color: white; }
                * .about-header .bg-box .container .row .right form div.row div input, * .about-header .bg-box .container .row .right form div.row div textarea {
                  width: 100%;
                  padding: 10px 20px;
                  background-color: #414e80 !important;
                  color: white;
                  border: none;
                  outline: none; }
                  * .about-header .bg-box .container .row .right form div.row div input:focus, * .about-header .bg-box .container .row .right form div.row div textarea:focus {
                    border: none;
                    background-color: #414e80 !important;
                    outline: none; }

/*# sourceMappingURL=diller.css.map */
