* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  * .sotcial {
    position: absolute;
    z-index: 22;
    left: 12%;
    bottom: 0;
    display: flex;
    flex-direction: row; }
    * .sotcial a {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: white;
      transition: all 0.2s linear; }
      * .sotcial a:hover {
        color: orange;
        background-color: rgba(255, 255, 255, 0.2); }
  * .about-header {
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    background-image: url("../img/0b3408904ccf6e33fb0a69020273f510.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    position: relative; }
    @media screen and (max-width: 770px) {
      * .about-header {
        height: 850px; } }
    * .about-header .bg-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(9, 25, 87, 0.8);
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }
      @media screen and (max-width: 600px) {
        * .about-header .bg-box {
          align-items: flex-start;
          padding-top: 20px; } }
      * .about-header .bg-box .container .row {
        display: flex; }
        @media screen and (max-width: 600px) {
          * .about-header .bg-box .container .row {
            flex-direction: column; } }
        * .about-header .bg-box .container .row .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          * .about-header .bg-box .container .row .left h2 {
            font-family: Bold 62px/95px Product Sans;
            width: 70%;
            font-size: 60px;
            color: white; }
            @media screen and (max-width: 1000px) {
              * .about-header .bg-box .container .row .left h2 {
                font-size: 45px; } }
            @media screen and (max-width: 700px) {
              * .about-header .bg-box .container .row .left h2 {
                font-size: 35px; } }
          * .about-header .bg-box .container .row .left p {
            color: white;
            padding: 0;
            margin: 0; }
          * .about-header .bg-box .container .row .left .mouse {
            width: 100px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center; }
            @media screen and (max-width: 600px) {
              * .about-header .bg-box .container .row .left .mouse {
                position: absolute;
                bottom: -500%;
                right: 0;
                width: 50px;
                height: 100px;
                margin-top: 10px; } }
            * .about-header .bg-box .container .row .left .mouse img {
              width: 30px;
              height: 30px; }
            * .about-header .bg-box .container .row .left .mouse p {
              writing-mode: vertical-rl;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              width: 100%;
              font-size: 10px;
              line-height: 20px; }
            * .about-header .bg-box .container .row .left .mouse span {
              margin: 5px 0;
              width: 2px;
              height: 50px;
              background-color: #9D9D9D; }
              @media screen and (max-width: 770px) {
                * .about-header .bg-box .container .row .left .mouse span {
                  height: 30px; } }
        * .about-header .bg-box .container .row .right {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center; }
          * .about-header .bg-box .container .row .right h4 {
            color: white;
            text-align: left; }
            @media screen and (max-width: 770px) {
              * .about-header .bg-box .container .row .right h4 {
                margin-top: 20px; } }
          * .about-header .bg-box .container .row .right p {
            color: #FFFFFFCC;
            margin-bottom: 20px; }
          * .about-header .bg-box .container .row .right form .form-box {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between; }
            @media screen and (max-width: 500px) {
              * .about-header .bg-box .container .row .right form .form-box {
                flex-direction: column; } }
          * .about-header .bg-box .container .row .right form label {
            color: white; }
          * .about-header .bg-box .container .row .right form .bbt {
            border-bottom-left-radius: 0 !important;
            color: #001053;
            font-weight: bold;
            font-size: 15px;
            border-radius: 10px; }
          * .about-header .bg-box .container .row .right form input,
          * .about-header .bg-box .container .row .right form textarea {
            width: 100%;
            padding: 10px 20px;
            background-color: #414e80 !important;
            color: white;
            border: none !important;
            border-radius: 0 !important; }
            * .about-header .bg-box .container .row .right form input:focus,
            * .about-header .bg-box .container .row .right form textarea:focus {
              border: none;
              background-color: #414e80 !important;
              outline: none; }
  * .section1 {
    margin-top: 50px;
    background-color: #fff; }
    * .section1 .container h2 {
      color: #001053;
      font-weight: bold;
      font-family: Bold 42px/63px Product Sans; }
    * .section1 .container p {
      color: #9D9D9D;
      width: 50%;
      font-family: Regular 16px/26px Product Sans; }
      @media screen and (max-width: 800px) {
        * .section1 .container p {
          width: 100%; } }
    * .section1 .container .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      * .section1 .container .row div {
        height: 223px;
        padding: 5px; }
        * .section1 .container .row div .box {
          padding: 15px;
          display: flex;
          flex-direction: column;
          background: #0010530D 0% 0% no-repeat padding-box;
          border-radius: 15px 15px 15px 0px;
          width: 100%;
          height: 100%;
          color: #001053;
          transition: all 0.2s linear; }
          * .section1 .container .row div .box:hover {
            background: #001053 0% 0% no-repeat padding-box;
            color: white; }
          * .section1 .container .row div .box div {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: center; }
            * .section1 .container .row div .box div h5 {
              padding-left: 10px;
              text-align: left;
              font-family: Regular 20px/26px Product Sans;
              letter-spacing: 0;
              opacity: 1; }
            * .section1 .container .row div .box div span {
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              width: 42px;
              height: 42px;
              background: #FFC524 0% 0% no-repeat padding-box; }
              * .section1 .container .row div .box div span img {
                width: 20px;
                height: 20px; }
          * .section1 .container .row div .box p {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            width: 100%;
            font-family: Regular 14px/26px Product Sans;
            font-size: 14px; }
  * .section3 {
    width: 100%;
    padding: 100px 0;
    margin-top: 50px;
    background-color: #fafafc;
    position: relative; }
    * .section3 .sec3-box {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row; }
      * .section3 .sec3-box .left {
        color: #001053;
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column; }
        * .section3 .sec3-box .left p {
          width: 65%; }
          @media screen and (max-width: 500px) {
            * .section3 .sec3-box .left p {
              width: 100%; } }
        @media screen and (max-width: 500px) {
          * .section3 .sec3-box .left {
            width: 100%;
            height: 65%; } }
      * .section3 .sec3-box .right {
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center; }
        * .section3 .sec3-box .right .telefon,
        * .section3 .sec3-box .right .manzil,
        * .section3 .sec3-box .right .email {
          color: #001053;
          width: 100%;
          display: flex;
          flex-direction: row;
          padding: 10px;
          align-items: center;
          margin-bottom: 10px;
          background-color: #e9eaef; }
          * .section3 .sec3-box .right .telefon span,
          * .section3 .sec3-box .right .manzil span,
          * .section3 .sec3-box .right .email span {
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center; }
          * .section3 .sec3-box .right .telefon div,
          * .section3 .sec3-box .right .manzil div,
          * .section3 .sec3-box .right .email div {
            display: flex;
            flex-direction: column; }
        @media screen and (max-width: 500px) {
          * .section3 .sec3-box .right {
            width: 100%;
            height: 35%; } }
      @media screen and (max-width: 500px) {
        * .section3 .sec3-box {
          flex-direction: column; } }
  * .section4 {
    margin: 50px 0; }
    * .section4 .container .row div {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 15px; }
    * .section4 .container .row .left {
      color: white;
      background-color: #001053;
      border-radius: 15px 0px 0px 0; }
    * .section4 .container .row .right {
      color: black;
      border-radius: 0 15px 15px 0;
      background-color: #FFC524; }
    @media screen and (max-width: 768px) {
      * .section4 {
        display: none; } }
  * .section5 {
    width: 100%;
    background-image: url("../img/0b3408904ccf6e33fb0a69020273f510.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    content: "";
    margin: 50px 0;
    position: relative; }
    @media screen and (max-width: 800px) {
      * .section5 {
        display: none; } }
    * .section5 .bg-shadow {
      width: 100%;
      height: 100%;
      background-color: rgba(9, 25, 87, 0.8); }
      * .section5 .bg-shadow .container {
        color: white;
        padding: 70px 0; }
        * .section5 .bg-shadow .container h3 {
          font-family: Bold 42px/63px Product Sans;
          color: #FFFFFF; }
        * .section5 .bg-shadow .container p {
          font: Regular 16px/26px Product Sans;
          letter-spacing: 0;
          color: #FFFFFFCC;
          width: 50%; }
          @media screen and (max-width: 800px) {
            * .section5 .bg-shadow .container p {
              width: 100%;
              padding-left: 10px; } }
        * .section5 .bg-shadow .container .row .item {
          padding: 10px;
          width: 100%; }
          * .section5 .bg-shadow .container .row .item .box {
            margin: auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 90%;
            height: 309px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 0px 15px 15px 15px;
            position: relative; }
            * .section5 .bg-shadow .container .row .item .box .number-corner {
              position: absolute;
              right: 0;
              top: 0;
              float: right;
              width: 72px;
              height: 72px;
              background: #FFC524 0% 0% no-repeat padding-box;
              border-radius: 0px 15px;
              opacity: 1; }
            * .section5 .bg-shadow .container .row .item .box .info-box {
              width: 100%; }
              * .section5 .bg-shadow .container .row .item .box .info-box h5 {
                text-align: left;
                font-family: Bold 24px/29px Product Sans;
                letter-spacing: 0;
                color: #FFFFFF; }
              * .section5 .bg-shadow .container .row .item .box .info-box p {
                width: 100%;
                font-family: Regular 14px/21px Product Sans;
                letter-spacing: 0;
                color: #FFFFFFCC; }
  * .section6 {
    width: 100%;
    padding: 50px 0;
    margin: 50px 0; }
    * .section6 .container h3 {
      text-align: left;
      font-family: Bold 42px/63px Product Sans;
      letter-spacing: 0;
      color: #001053;
      font-weight: bold; }
    * .section6 .container p {
      width: 50%;
      text-align: left;
      font-family: Regular 16px/26px Product Sans;
      letter-spacing: 0;
      color: #7B7B7B; }
      @media screen and (max-width: 800px) {
        * .section6 .container p {
          width: 100%; } }
    @media screen and (max-width: 768px) {
      * .section6 .container .row .left div {
        padding: 0 5px !important; } }
    * .section6 .container .row .left .box {
      display: flex;
      flex-direction: row; }
      * .section6 .container .row .left .box span {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        font-size: 40px;
        font-weight: bold;
        width: 77px;
        background: #FFC524 0% 0% no-repeat padding-box;
        border-radius: 15px 0px 0px 15px;
        opacity: 1; }
      * .section6 .container .row .left .box div {
        padding: 10px 20px !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width: 100%;
        font-family: Regular 16px/26px Product Sans;
        letter-spacing: 0;
        color: #001053;
        background: #f2f3f6 0% 0% no-repeat padding-box; }
        @media screen and (max-width: 768px) {
          * .section6 .container .row .left .box div {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px; } }
    * .section6 .container .row .right {
      display: flex;
      flex-direction: column; }
      * .section6 .container .row .right h4 {
        font-weight: bold;
        text-align: left;
        font-family: Bold 24px/36px Product Sans;
        letter-spacing: 0;
        color: #001053; }
        @media screen and (max-width: 800px) {
          * .section6 .container .row .right h4 {
            margin-top: 20px; } }
      * .section6 .container .row .right p {
        width: 100%;
        text-align: left;
        font-family: Regular 16px/26px Product Sans;
        letter-spacing: 0;
        color: #7B7B7B;
        opacity: 1; }
      * .section6 .container .row .right .info-box {
        width: 100%;
        padding: 20px;
        background: #f2f3f6 0% 0% no-repeat padding-box;
        border-radius: 15px; }
        * .section6 .container .row .right .info-box h4 {
          text-align: left;
          font-family: Bold 24px/36px Product Sans;
          letter-spacing: 0;
          color: #001053;
          opacity: 1; }
        * .section6 .container .row .right .info-box p {
          font-family: Regular 16px/26px Product Sans;
          letter-spacing: 0;
          color: #001053CC; }

/*# sourceMappingURL=diller.css.map */
