* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    .sotcial {
        position: absolute;
        z-index: 22;
        left: 12%;
        bottom: 0;
        display: flex;
        flex-direction: row;

        a {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            color: white;
            transition: all 0.2s linear;

            &:hover {
                color: orange;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .about-header {
        background-attachment: fixed;
        width: 100%;
        height: 80vh;
        background-image: url('../img/0b3408904ccf6e33fb0a69020273f510.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        content: "";
        position: relative;

        @media screen and (max-width:770px) {
            height: 120vh;
        }

        .bg-box {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(9, 25, 87, 0.8);
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            @media screen and (max-width: 770px) {
                align-items: flex-start;
                padding-top: 20px;
            }

            .container {
                .row {
                    display: flex;

                    @media screen and (max-width: 600px) {
                        flex-direction: column;
                    }

                    .left {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        h2 {
                            font-family: Bold 62px/95px Product Sans;
                            width: 70%;
                            font-size: 60px;
                            color: white;

                            @media screen and (max-width:1000px) {
                                font-size: 45px;
                            }

                            @media screen and (max-width:700px) {
                                font-size: 35px;
                            }
                        }

                        p {
                            color: white;
                            padding: 0;
                            margin: 0;
                        }

                        .mouse {

                            // margin-top: 20px;
                            @media screen and (max-width:770px) {
                                width: 50px;
                                height: 100px;
                                margin-top: 10px;

                                // float: right;

                            }

                            img {
                                width: 30px;
                                height: 30px;
                            }

                            width: 100px;
                            height: 200px;
                            // background-color: red;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            align-content: center;

                            p {
                                writing-mode: vertical-rl;
                                text-align: center;
                                // background-color: red;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                align-content: center;
                                // height: 100%;
                                width: 100%;
                                font-size: 10px;
                                line-height: 20px;
                            }

                            span {
                                margin: 5px 0;
                                width: 2px;
                                height: 50px;
                                background-color: #9D9D9D;

                                @media screen and (max-width:770px) {
                                    height: 30px;
                                }
                            }
                        }
                    }

                    .right {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        // align-items: center;
                        align-content: center;

                        h4 {
                            color: white;
                            text-align: left;
                        }

                        p {
                            color: #FFFFFFCC;
                            margin-bottom: 20px;
                        }

                        form {
                            position: relative;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: flex-start;

                            @media screen and (max-width: 770px) {
                                align-items: center;
                            }

                            .xa-btn {
                                border-top-left-radius: 0 !important;
                                color: #001053;
                                font-weight: bold;
                                font-size: 15px;

                                border-radius: 10px;
                            }

                            width: 100%;
                            height: 120%;

                            div.row {
                                padding: 0;

                                width: 100%;
                                display: flex;
                                justify-content: space-between;

                                div {
                                    width: 100%;

                                    label {
                                        color: white;
                                    }

                                    input,
                                    textarea {
                                        width: 100%;
                                        padding: 10px 20px;
                                        background-color: rgb(65, 78, 128) !important;
                                        color: white;
                                        border: none;
                                        outline: none;

                                        
                                        &:focus {
                                            border: none;
                                            background-color: rgb(65, 78, 128) !important;
                                            outline: none;
                                        }
                                    }


                                }
                            }
                        }


                    }
                }
            }


        }




    }


    .section1 {
        margin: 50px;
        background-color: #fff;

        .container {
            h2 {
                color: #001053;
                font-weight: bold;
                font-family: Bold 42px/63px Product Sans;
            }

            p {
                color: #9D9D9D;
                width: 50%;
                font-family: Regular 16px/26px Product Sans;
                ;
            }

            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                div {

                    width: 390px;
                    height: 223px;
                    padding: 5px;

                    .box {
                        padding: 15px;
                        display: flex;
                        flex-direction: column;
                        background: #0010530D 0% 0% no-repeat padding-box;
                        border-radius: 15px 15px 15px 0px;
                        width: 100%;
                        height: 100%;
                        color: #001053;
                        transition: all 0.2s linear;

                        &:hover {
                            background: #001053 0% 0% no-repeat padding-box;
                            color: white;
                        }

                        div {
                            width: 100%;
                            // height: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            align-content: center;

                            h5 {
                                padding-left: 10px;
                                text-align: left;
                                font-family: Regular 20px/26px Product Sans;
                                letter-spacing: 0;
                                // color: #FFFFFF;
                                opacity: 1;
                            }

                            span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                align-content: center;
                                width: 42px;
                                height: 42px;
                                background: #FFC524 0% 0% no-repeat padding-box;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        p {
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            align-content: center;
                            width: 100%;
                            font-family: Regular 14px/26px Product Sans;
                            font-size: 14px;
                            // color: #FFFFFFCC;

                        }
                    }
                }

            }
        }
    }

    .section3 {
        width: 100%;
        padding: 100px 0;
        margin-top: 50px;
        background-color: rgb(250, 250, 252);

        position: relative;

        .sec3-box {
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;

            .left {
                color: #001053;
                width: 65%;
                height: 100%;
                // background-color: red;
                display: flex;
                flex-direction: column;

                p {
                    width: 65%;

                    @media screen and (max-width: 500px) {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 500px) {
                    width: 100%;
                    height: 65%;
                }

            }

            .right {
                width: 35%;
                height: 100%;
                // background-color: yellow;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                align-content: center;

                .telefon,
                .manzil,
                .email {
                    span {
                        width: 50px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                    }

                    color: #001053;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    align-items: center;
                    margin-bottom: 10px;
                    background-color: rgb(233, 234, 239);

                    div {
                        display: flex;
                        flex-direction: column;
                    }

                }

                @media screen and (max-width: 500px) {
                    width: 100%;
                    height: 35%;
                }
            }

            @media screen and (max-width: 500px) {
                flex-direction: column;
            }
        }


    }


    .section4 {
        margin: 50px 0;

        .container {
            .row {

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    padding: 15px;
                }


                .left {
                    color: white;
                    background-color: rgb(0, 16, 83);
                    border-radius: 15px 0px 0px 0;
                }

                .right {
                    color: black;
                    border-radius: 0 15px 15px 0;
                    background-color: #FFC524;
                }
            }
        }
    }

    .section5 {
        width: 100%;
        background-image: url('../img/0b3408904ccf6e33fb0a69020273f510.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        content: "";
        // padding: 50px 0;
        margin: 50px 0;
        position: relative;

        .bg-shadow {
            width: 100%;
            height: 100%;
            // position: absolute;
            // left: 0;
            // top: 0;
            // bottom: 0;
            // right: 0;
            background-color: rgba(9, 25, 87, 0.8);

            .container {
                color: white;
                padding: 70px 0;

                h3 {
                    font-family: Bold 42px/63px Product Sans;

                    color: #FFFFFF;
                }

                p {
                    font: Regular 16px/26px Product Sans;
                    letter-spacing: 0;
                    color: #FFFFFFCC;
                    width: 50%;
                }

                .row {

                    .item {
                        padding: 10px;
                        width: 100%;

                        .box {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            width: 100%;
                            height: 309px;
                            background-color: rgba(255, 255, 255, 0.2);
                            border-radius: 0px 15px 15px 15px;
                            // opacity: 0.2;
                            position: relative;

                            .number-corner {
                                position: absolute;
                                right: 0;
                                top: 0;
                                float: right;
                                width: 72px;
                                height: 72px;
                                background: #FFC524 0% 0% no-repeat padding-box;
                                border-radius: 0px 15px;
                                opacity: 1;
                            }

                            .info-box {
                                width: 100%;

                                h5 {
                                    text-align: left;
                                    font-family: Bold 24px/29px Product Sans;
                                    letter-spacing: 0;
                                    color: #FFFFFF;
                                }

                                p {
                                    width: 100%;
                                    font-family: Regular 14px/21px Product Sans;
                                    letter-spacing: 0;
                                    color: #FFFFFFCC;
                                }
                            }


                        }
                    }
                }
            }
        }

    }

    .section6 {
        width: 100%;
        padding: 50px 0;
        margin: 50px 0;

        // background-color: yellow;
        .container {
            h3 {
                text-align: left;
                font-family: Bold 42px/63px Product Sans;
                letter-spacing: 0;
                color: #001053;
                font-weight: bold;
            }

            p {
                width: 50%;
                text-align: left;
                font-family: Regular 16px/26px Product Sans;
                letter-spacing: 0;
                color: #7B7B7B;
            }

            .row {
                .left {
                    .box {
                        display: flex;
                        flex-direction: row;

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            color: white;
                            font-size: 40px;
                            font-weight: bold;
                            width: 77px;
                            // height: 96px;
                            background: #FFC524 0% 0% no-repeat padding-box;
                            border-radius: 15px 0px 0px 15px;
                            opacity: 1;
                        }

                        div {
                            padding: 10px 20px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            align-content: center;
                            width: 100%;
                            // height: 96px;

                            font-family: Regular 16px/26px Product Sans;
                            letter-spacing: 0;
                            color: #001053;
                            background: rgb(242, 243, 246) 0% 0% no-repeat padding-box;
                        }
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;

                    h4 {
                        font-weight: bold;
                        text-align: left;
                        font-family: Bold 24px/36px Product Sans;
                        letter-spacing: 0;
                        color: #001053;
                    }

                    p {
                        width: 100%;
                        text-align: left;
                        font-family: Regular 16px/26px Product Sans;
                        letter-spacing: 0;
                        color: #7B7B7B;
                        opacity: 1;
                    }

                    .info-box {
                        width: 100%;
                        padding: 20px;
                        background: rgb(242, 243, 246) 0% 0% no-repeat padding-box;
                        border-radius: 15px;

                        h4 {
                            text-align: left;
                            font-family: Bold 24px/36px Product Sans;
                            letter-spacing: 0;
                            color: #001053;
                            opacity: 1;
                        }

                        p {
                            font-family: Regular 16px/26px Product Sans;
                            letter-spacing: 0;
                            color: #001053CC;
                        }
                    }
                }
            }
        }
    }
}